.cardWrapper {
  display: flex;
  background-color: #f5f1e4;
  flex: 1 1;
  row-gap: 18px;
  flex-direction: column;
  padding: 14px 28px;
  max-width: 360px;
  max-height: 395px;
  border-radius: 12px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  max-height: 270px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 8px;

  span {
    font-size: 18px;
    white-space: nowrap;
    text-align: left;
  }
}

.charPhoto {
  display: flex;
  width: 270px;
  border-radius: 6px;
}

.likeWrapper {
  display: flex;
  align-items: center;
}

.likeButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.portal {
  display: flex;
  width: 270px;
  max-height: 270px;
  transform-origin: center;
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 14s linear infinite;
}
