.header {
  display: flex;
  justify-content: center;
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 12%);
  height: 106px;
}

.navWrapper {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
}

.logoBig {
  width: 280px;
  @media (max-width: 768px) {
    display: none;
  }
}

.logoSmall {
  width: 100px;
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}

.charactersWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  padding: 14px;
}

.controls {
  display: flex;
  align-items: center;
  column-gap: 12px;
  line-height: 22px;
}

.controlsTitle {
  font-size: 24px;
  @media (max-width: 480px) {
    text-align: right;
    font-size: 16px;
  }
}

.noFavoriteChars {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.checkbox {
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
}
